/* page colors */

body {
  background-color: #000000;
  position: relative;
  z-index: 0;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./assets/images/background/background.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.1;
  z-index: -1;
}

.blue-color {
  background-color: rgb(17, 152, 243)
}

.yellow-color {
  color: rgb(252, 198, 2)
}

/* remove scrow from number input */

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* home-page menu button style */

.menu-button {
  width: 75%;
  margin-bottom: 15px;
}

/* inicial-page h1 phrase style */

.login-title {
  font-size: 2.9rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  margin-left: 70px;
}

/* share-track track-id style */

.track-id {
  font-size: 50px;
  margin-bottom: 20px;
}

/* podium styles */

/* podium short-character style*/

.podium-img {
  width: 250px;
}

.short-character {
  width: 50px;
  height: auto;
  border-radius: 50%;
}

/* podium square rank, point and name style */

.rank-square-short,
.points-square-short,
.name-square-short {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #f0f0f0;
  border-radius: 8px;
  font-size: 0.9rem;
  margin: -9px
}

.rank-square-short {
  background-color: #ffdddd;
}

.points-square-short {
  background-color: #ddffdd;
}

.name-square-short {
  background-color: #ddddff;
  width: auto;
  padding: 0 10px;
}

/* dj table img style */

.img-thumbnail-hover {
  transition: filter 0.3s;
}

.img-thumbnail-hover:hover {
  filter: brightness(1.3);
}

/* create dj character style */

.image-style {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  cursor: pointer;
}

.selected-style {
  border: 2px solid yellow;
}

.card-style {
  height: 480px;
  max-height: 80vh;
  width: 100%;
  max-width: 600px;
  overflow-y: auto;
  margin: 0 auto;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.chosen-character {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

/* responsive styles */
@media (max-width: 768px) {
  .chosen-character {
    max-width: 150px;
  }

  .card-style {
    max-width: 400px;
  }

  .image-style {
    width: 120%;
  }
}

@media (max-width: 576px) {
  .chosen-character {
    max-width: 100px;
  }

  .card-style {
    max-width: 400px;
  }

  .image-style {
    width: 120%;
  }
}

/* menu items style */

aside .nav-link {
  transition: background-color 0.3s ease;
  border-radius: 15%;
}

aside .nav-link:hover {
  background-color: #f0f0f0;
  border-radius: 15%;
}


.menu-item {
  font-size: 1.1rem;
  padding: 0.70rem 1.20rem;
}

/* menu profile style */

.menu-container,
.squeres-container {
  will-change: transform;
}

.menu-height-container {
  height: 90vh;
  overflow-y: auto
}

.rank-square,
.points-square,
.name-square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #f0f0f0;
  border-radius: 8px;
  font-size: 1.4rem;
  margin: -9px
}

.rank-square {
  background-color: #ffdddd;
}

.points-square {
  background-color: #ddffdd;
}

.name-square {
  background-color: #ddddff;
  width: auto;
  padding: 0 10px;
}

/* rank table style */

.custom-table {
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-table th,
.custom-table td {
  text-align: left;
  padding: 8px;
}

.custom-table th {
  background-color: #f8f9fa;
  color: #333;
}

.custom-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.custom-table td img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.custom-table .btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
  color: #fff;
}

.custom-table .btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

/* modal black style */

.custom-modal .modal-content {
  background-color: black;
  color: white;
  box-shadow: 0 0 0 0.5px #ffffff
}

.custom-input {
  background-color: black;
  color: white;
  border: 1px solid white;
}

.custom-input::placeholder {
  color: white;
}

.custom-input:focus {
  background-color: black;
  color: white;
  border-color: white;
  outline: none;
}

.custom-modal-header .btn-close {
  filter: invert(1);
}

.table-fixed {
  width: 106%;
  table-layout: fixed;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.dj-table {
  position: absolute;
  width: 600px;
  z-index: 1;
  left: 50%;
  top: 550%;
  transform: translate(-50%, -50%);
}

.music-inside-table {
  position: absolute;
  width: 147px;
  height: 147px;
  z-index: 2;
  left: 280px;
  top: 639%;
  transform: translate(-50%, -50%);
}